/* DRAG/DROP */
.sound-uploader-title {
  /* flex: 1 0 50%; */
  height: 150px;
  border-radius: 4px;
  border: 3px dashed #65f9f6;
  display: flex;
  background: #e0fefd;
  align-items: center;
  font-weight: bold; }
  .sound-uploader-title span {
    width: 100%; }
    .sound-uploader-title span a {
      margin: 0 0 0 5px; }
