@import '../../../_vars';

/* DRAG/DROP */
.sound-uploader-title {
  /* flex: 1 0 50%; */
  height: 150px;
  border-radius: $border-radius;
  border: 2px dashed #65f9f6;
  display: flex;
  align-items: center;
  font-weight: bold;

  span {
    width: 100%;

    a {
      margin: 0 0 0 5px;
    }
  }
}
