.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.height100 {
  height: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

@keyframes pulse {
  0% {
    fill: #ffffff;
    opacity: 0; }
  50% {
    fill: #65f9f6;
    opacity: 1; }
  100% {
    fill: #ffffff;
    opacity: 0; } }

.preload-logo-container {
  position: relative;
  width: 10vh;
  height: 10vh;
  margin: 0 auto;
  top: 10%;
  text-align: center;
  font-weight: 400;
  font-style: italic; }
  .preload-logo-container img {
    animation: pulse 1s infinite; }

.load-more-container {
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .load-more-container img {
    width: 5vh;
    height: 5vh;
    animation: pulse 1s infinite; }

.purple-green-gradient {
  background: #5810ae;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5810ae 0%, #0fe7f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5810ae 0%, #0fe7f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5810ae 0%, #0fe7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5810ae', endColorstr='#0fe7f9',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.btn-gradient {
  background: #541db3;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541db3', endColorstr='#3871d0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.btn-gradient-reverse {
  background: #3871d0;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3871d0', endColorstr='#541db3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.navbar {
  z-index: 100;
  height: 40px;
  margin: 0 !important; }
  .navbar.navbar-default {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none; }
  .navbar #navbar-logo {
    height: 40px;
    display: block;
    margin: 20px 0; }
    .navbar #navbar-logo img {
      height: 40px; }
    @media (min-width: 768px) {
      .navbar #navbar-logo {
        margin: 40px 0; } }

#topbar-logo {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer; }

* {
  outline: 0 !important; }

/* For showing menus on hover. Don't work in mobile...
.dropdown.disabled:hover .dropdown-menu {
  display: block;
}

.dropdown.disabled:hover>a {
  color: #fff !important;
}

.dropdown.disabled>a {
  color: #9d9d9d !important;
}
*/
/* toastify */
.toastify {
  opacity: 0.8; }

/*.toastify-content--info {
  background: #2e6da4 !important;
}*/
