@import '../../../_vars';

.collaborate_agreement {
  width: 50%;
}

.summary_recipient {
  border-radius: $border-radius;
  border: 3px solid #e2e2e2;
  margin: 25px 0;
  padding: 0 13px;

  &.owner {
    border-color: red;
  }
}