@import '../../../_vars';
@import '../../../_utils';

.TrackBrowser {
  background: $dark-blue-transparent;
  border-radius: $border-radius;
  margin: 0;
  height: $trackbrowser-height;
  overflow-y: scroll;

  @include small {
    height: $trackbrowser-height-sm;
  }

  h1 {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

.listen-head {
  padding: $gutter 30px 0 30px;

  > div {
    padding: 0;
    border-bottom: 1px solid #fff;
    padding: 0 0 $gutter/2;
    margin: $gutter 0;

    // overwrite default so the row is uniform
    h2 {
      margin: 0;
      line-height: 18px;
    }
  }
}

.category-top {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.category-top .category-tag {
  font-size: 1.5rem;
  color: #fff;
  background-color: #20a8d8;
  border-radius: 5px;
  padding: 4px 6px;
  margin-left: 10px;
}

.feed-load-more {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.feed-load-more .page-load-mini {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.empty-feed {
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  color: grey;
}

.empty-feed .spread {
  color: #337ab7;
  font-size: 2em;
}

.empty-feed .ask {
}

.empty-feed .footer-quote {
  font-style: italic;
}

.empty-feed i.heart {
  color: #e74c3c;
}

.feed-footer {
  width: 100%;
  text-align: center;
}

.feed-footer i.heart {
  color: #e74c3c;
}
