@import '../../../_vars.scss';

$blockconsole-background: rgba(0,0,0,.8);
$blockconsole-height: 20vh;
.BlockConsole {
  font-family: Courier;
  background-color: $blockconsole-background;
  color: #fff;
  position: fixed;
  float: left;
  bottom: 0;
  width: 100%;
  height: $blockconsole-height;
  z-index: $z-index-console;
  padding: $gutter;
  transition: bottom .3s;

  &.minimised {
    bottom: - $blockconsole-height;
  }

  span {
    display: block;

    $blockconsole-toggle-size: 20px;
    &.blockconsole-toggle {
      position: absolute;
      background: $blockconsole-background;
      width: $blockconsole-toggle-size;
      height: $blockconsole-toggle-size;
      top: - $blockconsole-toggle-size;
      right: $blockconsole-toggle-size/2;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
    &.blue {
      color: $mn8-blue;
    }
    &.highlight {
      background: white;
    }
    &:last-child {

      &:after {
        content: "";
        position: relative;
        top: 2px;
        right: -5px;
        display: inline-block;
        background-color: #606060;
        vertical-align: top;
        width: 8px;
        height: 17px;
        -webkit-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
      }

      @-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

      @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
    }
  }
}