@import '../../_vars';
@import '../../_utils';

.Listen {

    .main-container-bg {
        background: $dark-blue-transparent;
        border-radius: $border-radius;
        margin: 0 $gutter;
    }
}
