@import '../../../_vars';
@import '../../../_utils';

.artwork {
  background-size: cover;
  position: relative;
  display: none;

  @include xs-only {
    width: 100%;
    padding: 100% 0 0;
    overflow: hidden;
    display: block;

    button.bottom-player-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

article.track-player {
  padding: $gutter/2 0;

  .track-player-title {
    font-family: 'BrownRegular';
    font-size: 1.2em;
    flex: 1;
    margin: 0 0 $gutter/2;

    a {
      color: #fff;
    }
  }

  .track-player-info {
    flex: 1;
    color: #fff;
    text-align: right;

    >i {
      position: relative;
      top: 4px;
      margin: 0 5px 0 15px;
      color: $mn8-blue;
      font-size: 25px;
    }
  }



  .cover-and-wave {
    display: flex;
    margin: 0;

    .cover-image {
      display: block;
      width: 80px;
      height: 80px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: linear-gradient(135deg,#f49b0b,#70929c);
      box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
    }
    .player-area {
      flex: 1;

      // TEMPORARY OVERWRITES
      .track-player-wave {
        height: 80px;

        wave {
          height: 80px !important;
        }
      }

      .bottom-player-area {
        display: flex;
      }

    }
  }

  &.playing {
    background: rgba(0,0,0,.1);
    padding: 0;

    .cover-and-wave {
      .cover-image {
        width: 100px;
        height: 100px;
      }
    }
    .track-player-wave {
      height: 100px;

      wave {
        height: 100px !important;
        overflow: hidden !important;
      }
    }
  }
}
.bottom-player-tags {

  .track-player-tag {
    color: #fff;
    background-color: $mn8-blue-darker-again;
    border-radius: 5px;
    line-height: 20px;
    margin: 0 0 5px;
    display: block;
    text-align: center;
    padding: 3px 0 0;
  }
}

.player-duration {
  font-size: 0.7rem;
  font-weight: lighter;
  color: #fff;
  background-color: #263238;
  border-radius: 5px;
  margin-left: 15px;
  padding: 1px 5px;
  vertical-align: middle;
}

button.bottom-player-btn {
  outline: 0;
  background-color: transparent;
  border: none;
  color: $mn8-blue;
  text-align: center;
  margin: 0 $gutter;

  i {
    font-size: 28px;
    display: block;
    margin: 0 0 $gutter/2 0;
  }
}

button.bottom-player-btn:hover {}

button.bottom-player-btn.disabled, button.bottom-player-btn.disabled:hover {
  color: darkgrey;
  background-color: transparent;
  border: 1px solid transparent;
}

button.bottom-player-btn.active {
  color: #337ab7;
}
