@import '../../_vars';

.Home {
  color: #ffffff;

  .half-screen {
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    transition: $common-transition;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    h1 {
      font-size: 35px;
      letter-spacing: 1px;
      line-height: 37px;
      margin: 8px 0 0;
    }
  }
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #000;
  background-size: cover;
}

img#bgvideo-mute {
  position: absolute;
  right: 20px;
  top: 60px;
}

img#bgvideo-mute.muted {
  opacity: 0.4;
}
