@import '../../_vars';
@import '../../_utils';

.Home {
  color: #ffffff;
  @extend .clearfix;

  .half-screen {
    text-align: center;
    height: $home-article-height-xs;
    display: flex;
    transition: $common-transition;
    margin: 0 0 $gutter/2;

    @include small {
      height: calc(100vh - 120px);
      align-items: center;
      margin: 0;

      &:first-child {
        justify-content: flex-end;
      }
      &:last-child {
        justify-content: flex-start;
      }
    }

    article {
      background: $black-transparent;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: $border-radius;
      padding: $gutter*2;
      height: $home-section-height-xs;
      position: relative;

      .btn {
        position: absolute;
        bottom: -$btn-line/2;
        min-width: 50%;
      }

      img {
        height: 30px;

        @include small {
          height: auto;
        }
      }

      @include small {
        height: $home-section-height;
        max-width: 400px;
        margin-top: -$navbar-height;
      }
    }

    h1 {
      font-size: 25px;
      letter-spacing: 1px;
      line-height: 27px;
      margin: $gutter/2 0 4px;

      @include small {
        font-size: 35px;
        line-height: 37px;
        margin: $gutter 0;
      }
    }
    p {
      margin: 0;
    }
  }
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #000;
  background-size: cover;
}

img#bgvideo-mute {
  position: absolute;
  right: 20px;
  top: 60px;
}

img#bgvideo-mute.muted {
  opacity: 0.4;
}
