@import '_vars';

$btn-spacing: 2px;
$btn-line: 30px;
$btn-transition: all .2s;
$btn-radius: $btn-line;

.btn {
  background: $mn8-blue;
  border-radius: 0;
  color: #000;
  text-transform: uppercase;
  letter-spacing: $btn-spacing;
  padding: 5px $btn-line 0;
  line-height: $btn-line;
  transition: $btn-transition;

  &:hover {
    background: $mn8-pink;
  }

  &.btn-radius {
    border-radius: $btn-radius;
  }
}
.btn-naked {
  color: #000;
  font-weight: bold;
  display: block;
  line-height: $btn-line;
  transition: $btn-transition;
  margin: $gutter 0 0;
  text-align: center;
}

a {
  color: $mn8-blue-darker;
  font-weight: bold;

  &:active, &:hover {
    color: $mn8-blue-darker-again;
    cursor: pointer;
  }
}

$pre-icon-height: 50px;
.pre-icon {
  line-height: $pre-icon-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    width: $pre-icon-height;
    height: $pre-icon-height;
    border: 3px solid $mn8-blue;
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: $pre-icon-height/2;
  }
}