@import '_vars';

.btn {
  @extend .btn-gradient;
  border-radius: $btn-line;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $btn-spacing;
  padding: 5px $btn-line 0;
  line-height: $btn-line;
  transition: $btn-transition;
  display: inline-flex;
  text-align: center;
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3D(0, 0, 0);

  &:hover {
    transform: scale(.95);
    color: #fff;
  }
  &:focus {
    background: $mn8-blue-lighter;
    color: $mn8-blue-darker-again;
  }

  &.btn-radius {
    border-radius: $btn-radius;
  }
  &.btn-centered {
    left: 50%;
    margin-left: -25%;
  }
}
.btn-naked {
  color: $mn8-blue;
  font-weight: bold;
  display: block;
  line-height: $btn-line;
  transition: $btn-transition;
  margin: $gutter 0 0;
  text-align: center;

  &:focus {
    color: #fff;
  }
}

a {
  color: $mn8-blue-darker;
  font-weight: bold;

  &:active, &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.pre-icon {
  line-height: $pre-icon-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    width: $pre-icon-height;
    height: $pre-icon-height;
    border: 3px solid $mn8-blue;
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: $pre-icon-height/2;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.plus {
    &:before {
      background-image: url('/img/plus-ico.svg');
    }
  }
  &.up {
    &:before {
      background-image: url('/img/up-ico.svg');
    }
  }

}