@font-face {
    font-family: 'BrownBold';
    src: url('/fonts/brown-bold-webfont.woff2') format('woff2'),
         url('/fonts/brown-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrownLight';
    src: url('/fonts/brown-light-webfont.woff2') format('woff2'),
         url('/fonts/brown-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrownRegular';
    src: url('/fonts/brown-regular-webfont.woff2') format('woff2'),
         url('/fonts/brown-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeStd';
    src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'),
        url('/fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('/fonts/ITCAvantGardeStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeStd';
    src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
        url('/fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('/fonts/ITCAvantGardeStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeDemi';
    src: local('ITC Avant Garde Gothic Std Demi'), local('ITCAvantGardeStd-Demi'),
        url('/fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('/fonts/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}