@import '_vars'; // bootstrap vars inside here

@import "bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_forms.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss";

@import '_fonts';
@import '_typography';
@import '_buttons';

body {
  margin: 0;
  padding: 0;
  background-color: #000;

  #fixed-bg {
    background-image: url('/img/bg_gradient.jpg');
    background-size: auto 100vh;
    background-repeat: repeat-x;
    background-position: top left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-bg;
  }
  section {
    z-index: $z-index-sections;
    position: relative;
  }
}

button.btn.btn-primary {
  background-image: linear-gradient(to bottom, #555 0%, #222 100%);
  background-color: #222;
}
button.btn.btn-primary:hover {
  background-image: none;
  background-color: #222;
}

input.form-control:focus, button.btn:focus, .uneditable-input:focus {
  outline: 0 none !important;
  box-shadow: none;
  border: 1px solid #888;
}

div.alert.alert-info {
  /*background-image: linear-gradient(to bottom, #ededed 0%, #dedede 100%);*/
  background-image: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  color: #555;
}

span.panel-header {
  font-size: 1.1em;
  font-weight: bold;
}

a.panel-header-link span, a.panel-header-link:hover span {
  color: #88c;
}

span.help-block {
  font-size: 0.7em;
  color: #888;
  text-align: center;
}
