@import '../../../_vars';
@import '../../../_utils';

a.collaborate_agreement {
  width: 100%;
  display: block;
  border-radius: $border-radius;
  margin: 0 0 $gutter;
  background: $mn8-blue-lighter;
  color: #000;
  padding: $gutter/2 $gutter $gutter/2 $gutter*2.5 !important;
  @includes small {
    margin: $gutter 0;
  }
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -20px;
    border-radius: 10px;
  }
  &:hover {
    color: $mn8-blue-darker-again;
  }
  &:focus {
    outline: none;
  }
  &.current {
    &:before {
      background: #000;
      border: 5px #fff solid;
    }
  }
}