.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.height100 {
  height: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.nopad {
  padding: 0 !important; }

.nopad-child-cols > div {
  padding: 0; }

@media (min-width: 768px) {
  .nopad-child-cols.two-cold-middle-pad > div:first-child {
    padding-right: 10px; }
  .nopad-child-cols.two-cold-middle-pad > div:last-child {
    padding-left: 10px; } }

@keyframes pulse {
  0% {
    fill: #ffffff;
    opacity: 0; }
  50% {
    fill: #65f9f6;
    opacity: 1; }
  100% {
    fill: #ffffff;
    opacity: 0; } }

.preload-logo-container {
  position: relative;
  width: 10vh;
  height: 10vh;
  margin: 0 auto;
  top: 10%;
  text-align: center;
  font-weight: 400;
  font-style: italic; }
  .preload-logo-container img {
    animation: pulse 1s infinite; }

.load-more-container {
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .load-more-container img {
    width: 5vh;
    height: 5vh;
    animation: pulse 1s infinite; }

.main-container-bg {
  background: rgba(8, 24, 31, 0.7);
  border-radius: 20px;
  margin: 0 20px; }

.purple-green-gradient {
  background: #5810ae;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5810ae 0%, #0fe7f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5810ae 0%, #0fe7f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5810ae 0%, #0fe7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5810ae', endColorstr='#0fe7f9',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.btn-gradient {
  background: #541db3;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #541db3 0%, #3871d0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#541db3', endColorstr='#3871d0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.btn-gradient-reverse {
  background: #3871d0;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3871d0 0%, #541db3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3871d0', endColorstr='#541db3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.tag {
  color: #fff;
  background-color: #173449;
  font-family: 'BrownLight', sans-serif;
  border-radius: 5px;
  line-height: 20px;
  margin: 0 5px;
  padding: 0 5px 3px 5px;
  text-align: center;
  text-transform: capitalize; }
  .tag.pending {
    background-color: #fbff91;
    color: #000; }
  .tag.accepted {
    background-color: #aaff91;
    color: #000; }
  .tag.rejected {
    background-color: #ff4444;
    color: #000; }

.Collaborate .collaborate_container {
  /* UTILS */ }
  .Collaborate .collaborate_container .nopad {
    padding: 0 !important; }
  .Collaborate .collaborate_container .bordered_component {
    border-radius: 20px;
    border: 3px solid #e2e2e2;
    margin: 25px 0;
    padding: 0 13px; }

.Collaborate .collaborate_wrapper .collaborate_heading {
  display: block;
  color: #fff;
  margin: 0 0 20px;
  font-weight: 400; }

.Collaborate .collaborate_wrapper .collaborate_page .collaborate_content {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 20px; }
  @media (min-width: 768px) {
    .Collaborate .collaborate_wrapper .collaborate_page .collaborate_content {
      padding: 40px; } }

.Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation {
  position: relative;
  top: -17.5px;
  padding: 0;
  width: calc(50% - 20px/2);
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation {
      width: calc(50% - 20px); } }
  .Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation.left {
    left: 10px; }
    @media (min-width: 768px) {
      .Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation.left {
        left: 20px; } }
  .Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation.right {
    float: right;
    right: 10px; }
    @media (min-width: 768px) {
      .Collaborate .collaborate_wrapper .collaborate_page .collaborate_navigation.right {
        right: 20px; } }
