@import '../../_vars';
@import '../../_utils';

.Collaborate {
  // background: $black-transparent;
  // border-radius: $border-radius;
  // margin: 0 $gutter;

  &.blockconsole-open {
    .collaborate_wrapper {
      .collaborate_page {
        max-height: $trackbrowser-height-blockconsole-open;
      }
    }
  }

  .collaborate_wrapper {

    .collaborate_heading {
      display: block;
      color: #fff;
      margin: 0 0 $gutter;
      font-weight: 400;
    }

    .collaborate_page {
      background: $black-transparent;
      border-radius: $border-radius;
      // height: $trackbrowser-height;
      transition: $common-transition;
      overflow-y: auto;
      overflow-x: hidden;
      padding: $gutter;
      margin-bottom: $gutter;
      // position: inherit;

    }
    
    .collaborate_navigation {
      position: absolute;
      bottom: 0;
      padding: 0;
      width: calc(50% - #{$gutter}/2);
      display: flex;
      justify-content: center;

      @include small {
        width: calc(50% - #{$gutter});
      }

      &.left {
        left: $gutter/2;

        @include small {
          left: $gutter;
        }
      }
      &.right {
        float: right;
        right: $gutter/2;

        @include small {
          right: $gutter;
        }
      }
    }
  }
}
