@import '../../_vars';
@import '../../_utils';

.Collaborate {
  // margin: $gutter 0 0;
  //
  // @media (min-width: $screen-sm-min) {
  //   margin: $gutter*3 0 0;
  // }

  .collaborate_container {

    /* UTILS */
    .nopad {
      padding: 0 !important;
    }

    .bordered_component {
      border-radius: $border-radius;
      border: 3px solid #e2e2e2;
      margin: 25px 0;
      padding: 0 13px;
    }
  }

  .collaborate_wrapper {

    .collaborate_heading {
      display: block;
      color: #fff;
      margin: 0 0 $gutter;
      font-weight: 400;
    }

    .collaborate_page {
      .collaborate_content {
        background: $black-transparent;
        border-radius: $border-radius;
        padding: $gutter;

        @media (min-width: $screen-sm-min) {
          padding: $gutter*2;
        }
      }
      .collaborate_navigation {
        position: relative;
        top: -$btn-line/2;
        padding: 0;
        width: calc(50% - #{$gutter}/2);

        @include small {
          padding: 0 10%;
          width: calc(50% - #{$gutter});
        }

        &.left {
          left: $gutter/2;

          @include small {
            left: $gutter;
          }
        }
        &.right {
          float: right;
          right: $gutter/2;

          @include small {
            right: $gutter;
          }
        }
      }
    }
  }
}
